<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <!--TODO 0.删除title-->
    <meta charset="UTF-8">
    <meta name="description" content="此处输入网站描述">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>

<body>
<div id="app"></div>
<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
<script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
<script><!--此处可以放谷歌、百度分析的代码--></script>
</body>
</html>